{% include 'super_admin/partials/main.html' %}
{% load filters %}
{% include 'super_admin/partials/title-meta.html' with title=data|get:"Create Formica Order" %}
<head>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'super_admin/assets/js/datatables/buttons.datatables.min.css' %}"> -->
    <link href="{% static 'super_admin/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'super_admin/assets/css/tables-editable.css' %}" rel="stylesheet" type="text/css" /> -->
    <link href="{% static 'super_admin/assets/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'super_admin/assets/css/ui-lightbox.css' %}" rel="stylesheet">
    <!-- Custom Nav Styles -->
    <link href="{% static 'super_admin/assets/css/custom-nav.css' %}" rel="stylesheet" type="text/css" />
     
    {% include 'super_admin/partials/head-css.html' %}

    <style>
        .active-button {
            background-color: #4CAF50; /* Green color, adjust as needed */
            color: white;
        }
        .hide-modal{
            display: none !important;
        }

        .show-modal{
            display:block !important;
        }


        
        .hide_{
            display: none !important;
        }

    </style>
</head>

{% include 'super_admin/partials/body.html' %}
<div class="group-data-[sidebar-size=sm]:min-h-[1500px] group-data-[sidebar-size=sm]:relative">
    {% include 'super_admin/partials/sidebar.html' %}
    {% include 'super_admin/partials/topbar.html' %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="relative group-data-[sidebar-size=sm]:min-h-[1500px]">

        <div class=" ">
            <div class="container-fluid">
                {% include 'super_admin/partials/page-title.html' with title=data|get:"formica" pagetitle=data|get:"Create Formica Order" %}
                {% include 'super_admin/partials/custom_modal.html' %}

                <!-- <a href="{% url 'super_admin:addClient' %}" class="mb-4 text-white transition-all duration-300 ease-linear bg-green-500 border-green-500 hover:bg-green-600 hover:border-green-600 hover:text-white active:bg-green-600 active:border-green-600 active:text-white focus:bg-green-600 focus:border-green-600 focus:text-white focus:ring focus:ring-green-500/30 btn">Drawers</a> -->
                <!-- <input type="hidden" value='{% url "super_admin:all_knobs" %}' id="link_to_view_"> -->
                <input type="hidden" value="{% url 'super_admin:CreateDoorOrder' %}" id="link_to_add_">
                <input type="hidden" value="{% url 'super_admin:orderPageAjaxCalls' %}" id="link_to_grab_order_page_data_">
                
                  <input type="hidden" value="{% url 'super_admin:viewSuperAdminOrders' %}" id="link_to_redirect_">
            
              <div id="add_form_drawer">
                         <div class="shadow-md card shadow-gray-400/10 dark:bg-zink-700 dark:border-zink-50">
                                <div class="pb-0 card-body">
                                       <div class="grid grid-cols-12 gap-x-5 md:gap-6">
                                                <div class=" md:col-span-2">
                                                        <div>
                                                            <label for="order_id" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200 ">{{ data1|get:"order_id" }}</label>

                                                            <strong>{{order_id}}</strong>

                                                            <!-- <input type="hidden" name="order_id" value="{{order_id}}"> -->


                                                        </div>
                                                    </div>

                                                    <div class=" md:col-span-1">
                                                        <div>
                                                            <label for="Doors" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200">{{ data|get:"Product Type" }}</label>

                                                            <strong>{{product_type}}</strong>

                                                        </div>
                                                    </div>

                                                     <div class=" md:col-span-1">
                                                        <div>
                                                            <label for="username" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200">{{ data|get:"Employ Name" }}</label>

                                                            <strong>{{request.user.username}}</strong>

                                                        </div>
                                                    </div>


                                                     <div class=" md:col-span-2">
                                                        <div>
                                                            <label for="order_date" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200">{{ data|get:"Order Date" }}</label>

                                                            <strong>{{order_date}}</strong>

                                                        </div>
                                                    </div>

                                                     <div class=" md:col-span-1">
                                                        <div>
                                                            <label for="order_status" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200">{{ data|get:"Order Status" }}</label>

                                                            <strong>{{order_status_show}}</strong>

                                                        </div>
                                                    </div>
                                        </div>


                                        <!-- starting order create form here -->

                                        <form id="create_order_form" class="" method="POST" enctype="multipart/form-data">
                                                <div id="create_order_form_action_msg" class="mt-4 mb-4"></div>
                                             {% csrf_token %}
                                                <input type="hidden" name="action" id="action" value="insert">
                                             <input type="hidden" id="step" value="">
                                             <input type="hidden" name="decision" id="decision" value="">
                                             <input type="hidden" name="active_pop_up_id" id="active_pop_up_id" value="">
                                             <input type="hidden" name="step_click_counter" id="step_click_counter" value="1">
                                             <!-- <input type="hidden" name="order_id" id="order_id" value="{{order_id}}"> -->
                                             <input type="hidden" id="order_id" name="order_id" value="{{order_id}}">
                                             <input type="hidden" id="product_type" name="product_type" value="{{product_type}}">
                                            <input type="hidden" name="have_past_order" id="have_past_order" value="{{ have_past_order }}">

                                            {% if have_past_order == 1 %}
                                                <input type="hidden" name="past_order_id" id="past_order_id" value="{{ past_order_id }}">
                                            {% else %}
                                                <input type="hidden" name="past_order_id" id="past_order_id" value="">
                                            {% endif %}


                                             <!-- for step 1 -->
                                            <div class="grid grid-cols-12 gap-x-6 md:gap-6" id="create_order_form_step_1">

                                                    <div class="md:col-span-6">
                                                        <div>
                                                            <label for="order_status" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200">{{ data|get:"Client Order Name" }}</label>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="client_order_name" name="client_order_name">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="md:col-span-6">
                                                        <div>
                                                            <label for="order_status" class="block font-medium text-gray-700 text-13 mb-2 dark:text-zink-200">{{ data|get:"Client Order ID" }}</label>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="client_order_id" name="client_order_id" type="text">
                                                        </div>
                                                    </div>

                                                    <input type="hidden" name="request_status_step1" id="request_status_step1" value="draft">
                                                    <input type="hidden" name="request_status_step1_user_id" id="request_status_step1_user_id" value="{{ request.user.id }}">

                                                    <div class="md:col-span-6">
                                                          <div id="next_error_div">
                                                              <label class="ltr:ml-2 rtl:mr-2 text-13 text-red-600 font-medium dark:text-red-600" for="formrow-customCheck">{{ data|get:"some fields are empty"}}</label>
                                                        </div>
                                                        
                                                          <div class="mt-2">
                                                            <button type="button" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-2 focus:ring-blue-100 font-medium rounded text-sm w-full sm:w-auto px-5 py-2 text-center" id="create_order_form_next_btn_step_1">{{ data|get:"next" }}</button>
                                                        </div>
                                                    </div>


                                            </div>
                                               

                                                <!--end for step 2 -->

                                              

                                                <!-- in case of no/yes step3 -->
                                                <div class="grid grid-cols-12 gap-x-6 md:gap-6 mt-4" id="create_order_form_step_3">

                                            
                                                    




                                                    </div>

                                                    <!-- in case of yes this button will appears -->
                                                    






                                                    <!-- table creation in case of no -->

                                                    

                                                    <input type="hidden" id="draft_text" value ="ההזמנה נשמרה כטיוטה">

                                                    <div class="grid grid-cols-12 gap-x-6 md:gap-6 mt-4" id="form_btn">


                                                                        <div class="md:col-span-2">
                                                                                <button type="button" class="text-white transition-all duration-300 ease-linear bg-green-500 border-green-500 hover:bg-green-600 hover:border-green-600 hover:text-white active:bg-green-600 active:border-green-600 active:text-white focus:bg-green-600 focus:border-green-600 focus:text-white focus:ring focus:ring-green-500/30 block w-full btn text-16 py-2 hide_" id="send_order_data_to_draft">שמור טיוטה</button>
                                                                               
                                                                        </div>


                                                                        <div class="md:col-span-2">
                                                                            <div>
                                                                                <button type="submit" class="text-white transition-all duration-300 ease-linear bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 hover:text-white active:bg-blue-600 active:border-blue-600 active:text-white focus:bg-blue-600 focus:border-blue-600 focus:text-white focus:ring focus:ring-blue-500/30 block w-full btn text-16 py-2 hide_" id="send_order_btn">{{ data|get:"send order" }}</button>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                



                                                </form>
                                            </div> 

                                </div>
                         </div>
            
             

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        
        {% include 'super_admin/partials/footer.html' %}
    </div>
</div>
<!-- end main content -->
{% include 'super_admin/partials/customizer.html' %}
{% include 'super_admin/partials/vendor-scripts.html' %}
<script src="{% static 'super_admin/assets/js/datatables/jquery-3.7.0.js' %}"></script>
<script src="{% static 'super_admin/assets/js/select2.min.js' %}"></script>
<script src="{% static 'super_admin/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'super_admin/assets/libs/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'super_admin/assets/js/pages/lightbox.init.js' %}"></script>
<!-- Datatable init js -->
<script src="{% static 'super_admin/assets/js/app.js' %}"></script>
<script src="{% static 'super_admin/assets/js/action_create_formica_order_page.js' %}"></script>
<script type="text/javascript">
    var mapping = {
        // for draft form
        step_1_details_saved_success: '{{ data|get:"details saved" }}',
        step_1_details_msg_success: '{{ data|get:"order sent to draft please procced further with form" }}',
        // step_1_details_saved_error: '{{ data|get:"details saved" }}',
        step_1_details_msg_error: '{{ data|get:"the record against the order id is already exists form"}}',
        step_1_details_msg_warning: '{{ data|get:"some fields are empty"}}',
        ///////////// form fields
        back: '{{ data|get:"back" }}',
        kant: '{{ data|get:"kant" }}',
        minorder: '{{ data|get:"min order" }}',
        description:'{{ data|get:"description" }}',
        //collection_barcode: '{{ data|get:"Collection Barcode"}}',
        collection_barcode: '{{  data|get:"collection barcode 1" }}',
        collection: '{{ data|get:"collection"}}',
        select_a_value:'{{ data|get:"select avalue"}}',
        keep_flow:'{{ data|get:"keep flow"}}',
        texture:'{{ data|get:"texture"}}',
        uploadfile: '{{ data|get:"upload file"}}',
        choosefile: '{{ data|get:"choose file"}}',
        nofilechoosen: '{{ data|get:"no file choosen"}}',
        knob_family: '{{ data|get:"Knob Family"}}',
        knob_color: '{{ data|get:"Knob Color"}}',
        height:'{{ data|get:"height "}}',
        width:'{{ data|get:"width"}}',
        no:'{{ data|get:"no"}}',
        yes:'{{ data|get:"yes"}}',
        addrow: '{{ data|get:"add row"}}',
        knobmodel: '{{ data|get:"knob model"}}',
        knobposition: '{{ data|get:"knob postion"}}',
        drills: '{{ data|get:"drills"}}',
        notes: '{{ data|get:"notes"}}',
        quantity: '{{ data|get:"quantity"}}',
        delete: '{{ data|get:"delete"}}',
        addanothercolletion : '{{ data|get:"add another colletion"  }}', 
        sendorder: '{{ data|get:"send order"}}',

        ////////// for pop up

        choose_entry_type: '{{ data|get:"Choose Entry Type"}}',
        drawer : '{{ data|get:"drawer "}}',
        claps : '{{ data|get:"claps"}}',
        hinge : '{{ data|get:"hinge"}}', 
        DrawerDetails : '{{ data|get:"Drawer Details"}}',
        DrawerType : '{{ data|get:"Drawer Type"}}',
        DrawerCode : '{{ data|get:"Drawer Code"}}',
        submit:  '{{ data|get:"submit"}}',
        ClapsDetails: '{{ data|get:"Claps Details" }}',
        ClapsPr: '{{ data|get:"Claps Pr" }}',
        HingeDetails :'{{ data|get:"Hinge Details" }}',
        HingeProvider :'{{ data|get:"Hinge Provider" }}',
        DoorOpeningSide :'{{ data|get:"Door Opening Side" }}',


        nature: '{{ data|get:"nature" }}',
        drawer_success_msg: '{{ data|get:"Drawer details has been Saved successfully" }}',
        claps_success_msg: '{{ data|get:"Claps details has been Saved successfully" }}',
        hinge_success_msg: '{{ data|get:"Hinge details has been Saved successfully" }}',
        image_error_msg: '{{ data|get:"Only Image file is allowed" }}',
        close: '{{ data|get:"close" }}',
        good_job_title :'{{ data|get:"Good Job" }}',
        good_job_text: '{{ data|get:"All the data have been inserted successfully" }}', 
        data_saved_msg : '{{ data|get:"Data Saved" }}',

        general_error_msg:'{{ data|get:"There are some errors in inserting" }}',
        error: '{{ data|get:"error" }}'
    };
    window.page = mapping;
</script>
</body>
</html>