
{% load filters %}
{% include 'super_admin/partials/main.html' %}
{% include 'super_admin/partials/title-meta.html' with title=data|get:"hinges" %}

<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'super_admin/assets/js/datatables/buttons.datatables.min.css' %}">
    <link href="{% static 'super_admin/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'super_admin/assets/css/tables-editable.css' %}" rel="stylesheet" type="text/css" />
    <!-- Custom Nav Styles -->
    <link href="{% static 'super_admin/assets/css/custom-nav.css' %}" rel="stylesheet" type="text/css" />
    {% include 'super_admin/partials/head-css.html' %}
</head>

{% include 'super_admin/partials/body.html' %}
<div class="group-data-[sidebar-size=sm]:min-h-[1500px] group-data-[sidebar-size=sm]:relative">
    {% include 'super_admin/partials/sidebar.html' %}
    {% include 'super_admin/partials/topbar.html' %}


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="relative group-data-[sidebar-size=sm]:min-h-[1500px]">

        <div class="container-top-fluid">
            <div class="container-fluid">

               
                {% include 'super_admin/partials/page-title.html' with title=data|get:"products" pagetitle=data|get:"hinges" %}
                {% include 'super_admin/partials/custom_modal.html' %}

                <!-- <a href="{% url 'super_admin:addClient' %}" class="mb-4 text-white transition-all duration-300 ease-linear bg-green-500 border-green-500 hover:bg-green-600 hover:border-green-600 hover:text-white active:bg-green-600 active:border-green-600 active:text-white focus:bg-green-600 focus:border-green-600 focus:text-white focus:ring focus:ring-green-500/30 btn">Drawers</a> -->
                <input type="hidden" value='{% url "super_admin:all_hinge_data" %}' id="link_to_view_">
                <!-- <input type="hidden" value="{% url 'super_admin:add_drawars' %}" id="link_to_add_"> -->


              <div id="add_form_hinge">
                         <div class="shadow-md card shadow-gray-400/10 dark:bg-zink-700 dark:border-zink-50">
                                <div class="pb-0 card-body">
                                        <strong id="add_hinge_form_title">{{ data|get:"Add Hinge Form" }}</strong>

                                        <form id="add_hinge_form" class="{% url 'super_admin:add_hinges' %}" method="POST" enctype="multipart/form-data">
                                            <div id="info_selector" class="mt-4 mb-4" ></div>
                                             {% csrf_token %}
                                            <input type="hidden" name="action" id="action" value="insert">
                                            <div class="grid grid-cols-12 gap-x-5 md:gap-6">
                                                  <div class="md:col-span-3" id="entry_type">
                                                        <div>
                                                            
                                                            <select class="col-span-12 sm:col-span-10 px-3 bg-white w-full border p-2 border-gray-400 rounded placeholder:text-sm focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700  dark:bg-zink-700 dark:border-zink-50 dark:text-zink-200" id="entry_type_select" required placeholder="Entry Type">
                                                               <option selected disabled value="">{{ data|get:"choose entry type" }}</option>
                                                                <option value="single">{{ data|get:"single " }}</option>
                                                                <option value="bulk">{{ data|get:"bulk" }}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class=" md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="manufacturer" name="manufacturer" placeholder='{{ data|get:"manufacturer" }}'>
                                                        </div>
                                                    </div>

                                                    <div class=" md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="hinge_type" name="hinge_type" placeholder='{{ data|get:"hinge type" }}'>
                                                        </div>
                                                    </div>
                                                
                                                    <div class=" md:col-span-3 single_entry_type" style="display:none;">
                                                             <div>
                                                                
                                                                <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="hinge_sub_type" name="hinge_sub_type"  placeholder='{{ data|get:"hinge sub type" }}'>
                                                            </div>
                                                    </div>

                                                    <div class="md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="main_drill_diameter" name="main_drill_diameter" placeholder='{{ data|get:"main drill diameter" }}' type="number">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="secondary_drill_diameter" name="secondary_drill_diameter" placeholder='{{ data|get:"secondary drill diameter" }}' type="number">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="drill_depth" name="drill_depth" placeholder='{{ data|get:"drill depth" }}'>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="lower_default" name="lower_default" placeholder='{{ data|get:"lower default" }}'>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="side_default" name="side_default" placeholder='{{ data|get:"side default" }}'>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="md:col-span-3 single_entry_type" style="display:none;">
                                                        <div>
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="price" name="price" placeholder='{{ data|get:"price" }}'>
                                                        </div>
                                                    </div>

                                                    <!-- END -->

                                                    <div class=" md:col-span-3 bulk_entry_type" style="display:none;">
                                                             <div>
                                                                
                                                                

                                                                <input class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-zink-50 dark:text-zink-200 dark:file:bg-zink-50 dark:file:text-zink-200 dark:focus:border-primary" id="formFileLg" type="file"  accept=".csv" id="upload_hinge" name="upload_hinge"  />

                                                                <label class="ltr:ml-2 rtl:mr-2 text-13 text-gray-600 font-medium dark:text-zink-200" for="formrow-customCheck">{{ data|get:"Note: Only CSV files are allowed with header"}} (manufacturer,hinge_type,hinge_sub_type,main_dril_diameter,secondary_drill_diameter,drill_depth,lower_default,side_default,price)</label>
                                                            </div>
                                                    </div>
            
                                                <div id="form_btn" style="display:none;">
                                                    <button type="submit" class=" text-white bg-blue-500 hover:bg-blue-700 focus:ring-2 focus:ring-blue-100 font-medium rounded text-sm w-full sm:w-auto px-5 py-2.5 text-center" id="add_hinge_submit_btn"><i class="fa fa-save"></i></button>
                                                </div>
                                                
                                            </div> 
                                        </form>


                                       


                                </div>




                         </div>
                </div>


                <div id="edit_form_hinge" style="display:none;">
                         <div class="shadow-md card shadow-gray-400/10 dark:bg-zink-700 dark:border-zink-50">
                                <div class="pb-0 card-body">
                                                 <strong id="add_hinge_form_title">{{ data|get:"Edit Data" }}</strong>

                                         <form id="edit_hinge_form" class="{% url 'super_admin:add_hinges' %}" method="POST" >
                                            <div id="info_selector_2" class="mt-4 mb-4" ></div>
                                             {% csrf_token %}
                                            <input type="hidden" name="action" id="action" value="edit">
                                             <input type="hidden" name="hinge_id" id="hinge_id" value="">
                                            <div class="grid grid-cols-12 gap-x-5 md:gap-6">
                                                  
                                                <!-- START -->
                                                <div class=" md:col-span-3 " >
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="manufacturer_edit" name="manufacturer" required placeholder='{{ data|get:"manufacturer" }}'>
                                                    </div>
                                                </div>

                                                <div class=" md:col-span-3 " >
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="hinge_type_edit" name="hinge_type" required placeholder='{{ data|get:"hinge type" }}'>
                                                    </div>
                                                </div>

                                                <div class=" md:col-span-3 " >
                                                        <div>
                                                            
                                                            <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="hinge_sub_type_edit" name="hinge_sub_type" required placeholder='{{ data|get:"hinge sub type" }}'>
                                                        </div>
                                                </div>

                                                <div class="md:col-span-3">
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="main_drill_diameter_edit" name="main_drill_diameter" required placeholder='{{ data|get:"main drill diameter" }}' type="number">
                                                    </div>
                                                </div>

                                                <div class="md:col-span-3">
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="secondary_drill_diameter_edit" name="secondary_drill_diameter" required placeholder='{{ data|get:"secondary drill diameter" }}' type="number">
                                                    </div>
                                                </div>

                                                <div class="md:col-span-3">
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="drill_depth_edit" name="drill_depth" required placeholder='{{ data|get:"drill depth" }}' type="number">
                                                    </div>
                                                </div>

                                                <div class="md:col-span-3">
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="lower_default_edit" name="lower_default" required placeholder='{{ data|get:"lower default" }}'>
                                                    </div>
                                                </div>

                                                <div class=" md:col-span-3 " >
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200"  id="side_default_edit" name="side_default" required placeholder='{{ data|get:"side default" }}'>
                                                    </div>
                                                </div>

                                                <div class="md:col-span-3">
                                                    <div>
                                                        <input class="w-full border py-2 px-3 text-13 rounded border-gray-400 placeholder:text-13 focus:border focus:border-gray-400 focus:ring-0 focus:outline-none text-gray-700 dark:bg-transparent placeholder:text-gray-600 dark:border-zink-50 dark:placeholder:text-zink-200" id="price_edit" name="price" required placeholder='{{ data|get:"price" }}'>
                                                    </div>
                                                </div>



                                                   <!-- END -->
            
                                                <div id="form_btn" >
                                                    <button type="submit" class=" text-white bg-green-500 hover:bg-green-700 focus:ring-2 focus:ring-green-100 font-medium rounded text-sm w-full sm:w-auto px-5 py-2.5 text-center" id="edit_hinge_submit_btn"><i class="fa fa-save"></i></button>
                                                </div>
                                                
                                            </div> 
                                        </form>

                                       


                                </div>


                                

                         </div>
                </div>



                <div>
                    <div class="shadow-md card shadow-gray-400/10 dark:bg-zink-700 dark:border-zink-50">
                        <div class="pb-0 card-body">


                           <strong>{{ data|get:"products" }}</strong>
                            <a href="{% url 'super_admin:add_collection' %}" class="transition-all duration-300 ease-linear bg-white text-dark-500 border-dark-500 focus:ring focus:ring-dark-500/30 hover:bg-dark-600 hover:border-dark-600 hover:text-white active:bg-dark-600 active:border-dark-600 dark:bg-transparent dark:text-white dark:border-white active:text-white focus:bg-dark-500 focus:border-dark-600 focus:text-white btn mr-4">{{ request.session|get:"collection" }}</a>

                            <a href="{% url 'super_admin:add_knobs' %}" class="transition-all duration-300 ease-linear bg-white text-dark-500 border-dark-500 focus:ring focus:ring-dark-500/30 hover:bg-dark-600 hover:border-dark-600 hover:text-white active:bg-dark-600 active:border-dark-600 dark:bg-transparent dark:text-white dark:border-white active:text-white focus:bg-dark-500 focus:border-dark-600 focus:text-white btn mr-4">{{ request.session|get:"knobs" }}</a>


                            <a href="{% url 'super_admin:add_knob_color' %}" class="transition-all duration-300 ease-linear bg-white text-dark-500 border-dark-500 focus:ring focus:ring-dark-500/30 hover:bg-dark-600 hover:border-dark-600 hover:text-white active:bg-dark-600 active:border-dark-600 dark:bg-transparent dark:text-white dark:border-white active:text-white focus:bg-dark-500 focus:border-dark-600 focus:text-white btn mr-4">{{ request.session|get:"knob color" }}</a>

                            <a href="{% url 'super_admin:add_drawars' %}" class="transition-all duration-300 ease-linear bg-white text-dark-500 border-dark-500 focus:ring focus:ring-dark-500/30 hover:bg-dark-600 hover:border-dark-600 hover:text-white active:bg-dark-600 active:border-dark-600 dark:bg-transparent dark:text-white dark:border-white active:text-white focus:bg-dark-500 focus:border-dark-600 focus:text-white btn mr-4">{{ request.session|get:"drawers" }}</a>

                            <a href="{% url 'super_admin:add_hinges' %}"  class="text-white transition-all duration-300 ease-linear  bg-dark-500 border-dark-500 hover:bg-dark-600 hover:border-dark-600 hover:text-white active:bg-dark-600 active:border-dark-600 active:text-white focus:bg-dark-600 focus:border-dark-600 focus:text-white focus:ring focus:ring-dark-500/30 btn mr-4">{{ data|get:"hinges" }}</a>

                            <a href="{% url 'super_admin:add_claps' %}"  class="transition-all duration-300 ease-linear bg-white text-dark-500 border-dark-500 focus:ring focus:ring-dark-500/30 hover:bg-dark-600 hover:border-dark-600 hover:text-white active:bg-dark-600 active:border-dark-600 dark:bg-transparent dark:text-white dark:border-white active:text-white focus:bg-dark-500 focus:border-dark-600 focus:text-white btn mr-4">{{ data|get:"claps" }}</a>


                            <div class="flex flex-wrap gap-2 mt-4  mb-4">
                                <a href="{% static 'super_admin/assets/files_format/hinge_bulk_upload_template.csv' %}" download="hinge_bulk_upload_template.csv" class="text-white transition-all duration-300 ease-linear bg-red-500 border-red-500 hover:bg-red-600 hover:border-red-600 hover:text-white active:bg-red-600 active:border-red-600 active:text-white focus:bg-red-600 focus:border-red-600 focus:text-white focus:ring focus:ring-red-500/30 btn min-w-[10px]" title='{{ data|get:"Download Bulk File Template" }}'><i class="fa fa-download"></i></a>

                               
                            </div>

                            <table id="hinge_table" class=" display group border-collapse border border-gray-300 dark:border-zink-50" style="width:auto; min-width: unset;">
                                <thead>
                                    <tr>
                                        <tr>
                                            
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"manufacturer" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"hinge type" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"hinge sub type" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"main drill diameter" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"secondary drill diameter" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"drill depth" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"lower default" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"side default" }}</th>
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"price" }}</th>
    
                                            <th class="text-center border border-gray-300 dark:border-zink-50 bg-transparent">{{ data|get:"actions" }}</th>
                                        </tr>
                                </thead>

                                <tbody>
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        
        {% include 'super_admin/partials/footer.html' %}
    </div>
</div>
<!-- end main content -->

{% include 'super_admin/partials/customizer.html' %}
{% include 'super_admin/partials/vendor-scripts.html' %}

<script src="{% static 'super_admin/assets/js/datatables/jquery-3.7.0.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/data-tables.min.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/data-tables.tailwindcss.min.js' %}"></script>
<!--buttons dataTables-->
<script src="{% static 'super_admin/assets/js/datatables/datatables.buttons.min.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'super_admin/assets/js/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'super_admin/assets/libs/table-edits/build/table-edits.min.js' %}"></script>
<script src="{% static 'super_admin/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
<!-- Datatable init js -->
<script src="{% static 'super_admin/assets/js/app.js' %}"></script>
<script src="{% static 'super_admin/assets/js/actions_hinge_file.js' %}"></script>
<script type="text/javascript">
    
    var mapping = {
        search: '{{ data_table|get:"Search" }}',
        sFirst: '{{ data_table|get:"first" }}', 
        sLast: '{{ data_table|get:"last" }}', 
        sNext: '{{ data_table|get:"next" }}', 
        sPrevious: '{{ data_table|get:"previous" }}',
        export_excel: '{{ data_table|get:"Export Excel" }}',
        csv_error_msg: '{{ data|get:"Only CSV file is allowed" }}',

        //sweet alerts
        sure_msg:'{{ data|get:"Are you sure" }}',
        revert_msg:'{{ data|get:"You wont be able to revert this" }}',
       
        delete_msg: '{{ data|get:"Yes, delete it" }}',
        no_cancel: '{{ data|get:"No, cancel" }}',
        deleted: '{{ data|get:"Deleted" }}',
        cancelled: '{{ data|get:"Cancelled" }}',
        action_msg:  '{{ data|get:"The action has not performed" }}',


    };
    window.page = mapping;
</script>
</body>
</html>