{% load filters %}
{% include 'super_admin/partials/main.html' %}
{% include 'super_admin/partials/title-meta.html' with title=viewOrderDetailsData|get:"View Order Details" %}
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link href="{% static 'super_admin/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Custom Nav Styles -->
    <link href="{% static 'super_admin/assets/css/custom-nav.css' %}" rel="stylesheet" type="text/css" />
    {% include 'super_admin/partials/head-css.html' %}
    <style type="text/css">
    table { page-break-inside:auto }
    div   { page-break-inside:avoid; } /* This is the key */
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    @media print
    {
            table {page-break-after:always}
             tr {
                page-break-after: auto;
            }
    }

</style>
</head>
{% include 'super_admin/partials/body.html' %}
<div class="group-data-[sidebar-size=sm]:min-h-[1500px] group-data-[sidebar-size=sm]:relative">
    {% include 'super_admin/partials/sidebar.html' %}
    {% include 'super_admin/partials/topbar.html' %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="relative group-data-[sidebar-size=sm]:min-h-[1500px]">
        <div class="container-top-fluid">
            <div class="container-fluid">
               <input type="hidden" value="{{cards}}">

                <div id="pdf-content" class="mt-4">
                    <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-12 lg:col-span-6">

                            <!-- <table class="w-40 border border-collapse bg-white">
                                <tr>
                                    <td class="block font-medium text-gray-700 text-15  dark:text-zink-200 ">{{ OrderData|get:"Order ID" }}</td>
                                    <td><strong>{{order_track_response.order_id}}</strong></td>
                                </tr>
                            </table> -->
                            <input type="hidden" name="order_id_unique" id="order_id_unique" value="{{order_track_response.order_id}}">
                                <div class="md:col-span-2">
                                    <div>
                                        <label for="order_id" class="block font-medium text-gray-700 text-13  dark:text-zink-200 ">{{ OrderData|get:"Order ID" }} : <strong id="order_id">{{order_track_response.order_id}}</strong></label> 
                                        
                                    </div>
                                </div> 

                                <div class="md:col-span-2">
                                    <div>
                                        <label for="order_id" class="block font-medium text-gray-700 text-13  dark:text-zink-200 ">{{ OrderData|get:"Employ Name" }} : <strong>{{order_track_response.employee_name}} {{order_track_response.employee_last_name}}</strong></label>
                                        
                                    </div>
                                </div>

                                <div class="md:col-span-2">
                                    <div>
                                            <label for="order_status" class="block font-medium text-gray-700 text-13 dark:text-zink-200">{{ OrderData|get:"Client Order ID" }} :  <strong>{{ order_track_response.client_order_id }}</strong></label>
                                        
                                    </div>
                                </div>
                                <div class="md:col-span-2">
                                    <div> <label for="knob_family" class="block font-medium text-gray-700 text-13 dark:text-zink-200">{{ OrderData|get:"Knob Family"}} : 
                                        <strong>{{ knob_families }}</strong></label>
                                    </div>
                                </div>
                        </div>

                        <div class="col-span-12 lg:col-span-6" >
                            <img  class="ml-2" src="{% static 'super_admin/assets/images/detail_page_logo.jpg' %}" alt="" style="float:left; height:50px;">
                            
                        </div>
                    </div>

                    {% if cards %}
                    
                                
                    <table id="example" class="display w-3/4 border border-collapse mt-4" style="width:100%">
                                <thead>
                                    <tr class="rtl:text-center bg-white">
                                        <th class="p-3 bg-white" >{{ OrderData|get:"row"}}</th>
                                        <th class="p-3 bg-white" >{{ productsData|get:"collection_barcode"}}</th>
                                        <th class="p-3 bg-white" >{{ OrderData|get:"height "}}</th>
                                        <th class="p-3 bg-white" >{{ OrderData|get:"width"}}</th>
                                        <th class="p-3 bg-white" >{{ OrderData|get:"quantity"}}</th>
                                        <th class="p-3 bg-white" >{{ OrderData|get:"meter" }}</th>
                                        <th class="p-3 bg-white" >{{ OrderData|get:"knob_width" }}</th>
                                        <th class="p-3 bg-white" >{{ OrderData|get:"connected_knob" }}</th>
                                        <th class="p-3 bg-white"  >{{ OrderData|get:"drills"}}</th>
                                        <th class="p-3 bg-white"  >{{ OrderData|get:"notes"}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for card_key, card_data in cards.items %}

                            
                                    <tr class="bg-white">
                                            <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50">
                                                    {{ forloop.counter }}
                                            </td>
                                            <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                {{ card_data.collection_barcode }}

                                            </td>
                                            <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                {{ card_data.card_height }}

                                            </td>
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                    {{ card_data.card_width }}

                                                </td>
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                    {{ card_data.card_quantity }}

                                                </td>
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50">
                                                    {{ card_data.meter|formater_num  }}

                                                </td>
                                            
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                    {{ card_data.knob_width|formater_num }}
                                                </td>
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                {{ card_data.connected_knob_check|safe }}
                                                </td>
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                    {{ card_data.have_drills|safe }}
                                                </td>
                                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200  border border-gray-300 dark:border-zink-50">
                                                        {{ card_data.have_notes|safe }}

                                                </td>

                                    </tr>
                                
                                    {% endfor %}
                                </tbody>

                        <tfoot class="bg-white">
                            <tr> 
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50">
                                    <strong>{{ total_quantity }} </strong>

                                </td>
                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50">
                                        
                                        <strong>{{ total_meter|formater_num }}</strong>

                                </td>
                                
                                <td class="p-3 text-center text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50">
                                        
                                    <strong>
                                        {{ total_knob_width|formater_num }} </strong>


                                </td>
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                <td class="p-3 text-gray-700 font-normal whitespace-nowrap dark:text-zink-200 border border-gray-300 dark:border-zink-50"></td>
                                

                            </tr>

                        </tfoot>

                    </table>
                    {% endif %}
                </div>

                <div class="grid grid-cols-12 gap-x-6 md:gap-6 mt-4" id="form_btn">
                    <div class="md:col-span-2 text-center bg-white">
                        <div>
                                <button type="button" id="pdfmake" class="text-white transition-all duration-300 ease-linear bg-red-500 border-red-500 hover:bg-red-600 hover:border-red-600 hover:text-white active:bg-red-600 active:border-red-600 active:text-white focus:bg-red-600 focus:border-red-600 focus:text-white focus:ring focus:ring-red-500/30 block w-full btn text-16 py-2">{{ viewOrderDetailsData|get:"Generate PDF" }} </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        
        {% include 'super_admin/partials/footer.html' %}
    </div>
</div>
<!-- end main content -->
{% include 'super_admin/partials/customizer.html' %}
{% include 'super_admin/partials/vendor-scripts.html' %}
<script src="{% static 'super_admin/assets/js/datatables/jquery-3.7.0.js' %}"></script>
<!-- Datatable init js -->
<script src="{% static 'super_admin/assets/js/app.js' %}"></script>
<script src="{% static 'super_admin/assets/js/printThis.js' %}"></script>
</body>
</html>
<script>
$(document).ready(function(){
     var mapping = {
        search: '{{ data_table|get:"Search" }}',
        sFirst: '{{ data_table|get:"first" }}', 
        sLast: '{{ data_table|get:"last" }}', 
        sNext: '{{ data_table|get:"next" }}', 
        sPrevious: '{{ data_table|get:"previous" }}',
        export_excel: '{{ data_table|get:"Export Excel" }}',

        //sweet alerts
        sure_msg:'{{ data_products|get:"Are you sure" }}',
        revert_msg:'{{ data_products|get:"You wont be able to revert this" }}',
       
        delete_msg: '{{ data_products|get:"Yes, delete it" }}',
        no_cancel: '{{ data_products|get:"No, cancel" }}',
        deleted: '{{ data_products|get:"Deleted" }}',
        cancelled: '{{ data_products|get:"Cancelled" }}',
        action_msg:  '{{ data_products|get:"The action has not performed" }}',

        
    };
    // var datatable = $('#example').DataTable({
    //      dom: 'Bfrtip',
    //       buttons: [
    //         {
    //             extend: 'print',
    //             text: '{{ viewOrderDetailsData|get:"Generate PDF" }}',
    //              bom:false,
    //              filename: '{{ order_id }}',
    //              customize: function (win) {
    //                     all += $(win.document.body).find('table')[0].outerHTML;
    //                     win.close();
    //             },
    //         }
    //     ],

    //        language: {
    //         "sEmptyTable":     " ",
    //         "sInfo":           "",
    //         "sInfoEmpty":      "",
    //         "sInfoFiltered":   "",
    //         "sInfoPostFix":    "",
    //         "sInfoThousands":  ",",
    //         "sLengthMenu":     "",
    //         "sLoadingRecords": "",
    //         "sProcessing":     "",
    //         "sSearch": mapping,
    //         "sZeroRecords":    "",
    //         oPaginate: {
    //                 "sFirst":    mapping.sFirst,
    //                 "sLast":    mapping.sLast,
    //                 "sNext":     mapping.sNext,
    //                 "sPrevious": mapping.sPrevious,
    //         }
            
    //     },
             
    // });


    // $(document).on('click','#pdfmake', function(){

    // });

// function printData()
// {
//             var divToPrint=document.getElementById("pdf-content");
//            newWin= window.open("");
//            newWin.document.write(divToPrint.outerHTML);
//            newWin.print();
//            newWin.close();
// }

$('#pdfmake').on('click',function(){

    $('#pdf-content').printThis();

    //     let order_id = $("#order_id_unique").val();
    // const options = {
    //     margin:       0.5,
    //    filename:     order_id+'.pdf',
    //     image:        { type: 'jpeg', quality: 0.98 },
    //      html2canvas: { scale: 1.5 },
    //     jsPDF:        { unit: 'in', format: 'a4', orientation: 'portrait' }
    // };
    // setTimeout(function() {
    //     html2pdf().set(options).from(document.getElementById('pdf-content')).save();
    // }, 1000); // Adjust the delay as needed
})


    });
</script>



