<footer class="">
    <div class="group-data-[layout=horizontal]:mx-auto group-data-[layout=horizontal]:max-w-screen-2xl w-full bg-new-500">
        <div class="sm:flex sm:space-y-2 md:space-y-0 sm:justify-between">
            <div class="text-13 text-footer-color dark:text-zink-200">
                <script>document.write(new Date().getFullYear())</script> © Interetz
            </div>
            <!-- <div class="hidden md:block sm:text-end text-13 text-footer-color dark:text-zink-200">
                Design & Develop by Themesbrand
            </div> -->
        </div>
    </div>
</footer>