<footer class="ltr:lg:left-vertical-menu rtl:lg:right-vertical-menu group-data-[sidebar-size=md]:ltr:left-vertical-menu-md group-data-[sidebar-size=md]:rtl:right-vertical-menu-md group-data-[sidebar-size=sm]:lg:ltr:left-vertical-menu-sm group-data-[sidebar-size=sm]:lg:rtl:right-vertical-menu-sm absolute bottom-0 px-5 group-data-[layout=horizontal]:left-0 h-footer py-4 flex items-center bg-footer-bg  text-footer-colo  right-0 rtl:left-0 ltr:left-0 rtl:right-0 dark:bg-zink-700 dark:text-zink-200 ">
    <div class="group-data-[layout=horizontal]:mx-auto group-data-[layout=horizontal]:max-w-screen-2xl w-full bg-new-500">
        <div class="sm:flex sm:space-y-2 md:space-y-0 sm:justify-between">
            <div class="text-13 text-footer-color dark:text-zink-200">
                <script>document.write(new Date().getFullYear())</script> © EliteNova
            </div>
            <!-- <div class="hidden md:block sm:text-end text-13 text-footer-color dark:text-zink-200">
                Design & Develop by Themesbrand
            </div> -->
        </div>
    </div>
</footer>