<div class="md:flex items-center justify-between pt-6 pb-5">
    <!-- <div>
        <h6 class="mb-0 text-16 uppercase font-semibold dark:text-white">{{title}}</h6>
    </div> -->
    <div class="shrink-0">
        <ul class="mb-0 flex items-center gap-4 text-[13px] mt-2 md:mt-0">
            <li class="before:content-['/'] before:absolute ltr:before:-right-1 rtl:before:-left-2 before:text-gray-600 before:text-[9px] before:top-0 before:bottom-0 before:flex before:items-center relative pr-3 inline-block"><a href="#!" class="text-gray-800 dark:text-white">{{pagetitle}}</a></li>
            <li class="text-gray-600 dark:text-zink-200">{{title}}</li>
        </ul>
    </div>
</div>