<div class="md:flex items-center justify-between pt-6 pb-5">
    <div class="shrink-0">
        <ul class="mb-0 flex items-center gap-4 text-[13px] mt-2 md:mt-0">
            <li class="text-gray-600 text-16 font-semibold dark:text-zink-200">
                <!-- 1 -->
                <!-- {% if request.path == '/super_admin/CreateDoorOrder' %}הזמנה חדשה{% endif %} -->

                <!-- 2 -->
                <!-- {% if request.path == '/super_admin/load_draft_orders' %}טיוטות{% endif %} -->

                <!-- 3 -->
                <!-- {% if request.path == '/super_admin/order_that_sent_to_factory' %}הזמנות בתהליך{% endif %} -->

                <!-- 4 -->
                <!-- {% if request.path == '/super_admin/track_order_delivers_to_clients' %}הזמנות סגורות{% endif %} -->

                <!-- 5.2.x Products -->
                <!-- {% if request.path == '/super_admin/add_pricing' %}תמחור{% endif %}
                {% if request.path == '/super_admin/add_collection' %}צבעים{% endif %}
                {% if request.path == '/super_admin/add_knobs' %}ידיות{% endif %}
                {% if request.path == '/super_admin/add_knob_color' %}צבע ידיות{% endif %}
                {% if request.path == '/super_admin/add_drawars' %}מגירות{% endif %}
                {% if request.path == '/super_admin/add_hinges' %}צירים{% endif %}
                {% if request.path == '/super_admin/add_claps' %}קלאפות{% endif %} -->

                <!-- 5.3.x Products -->
                <!-- {% if request.path == '/super_admin/viewSuperAdmin' %}מנהל ראשי{% endif %}
                {% if request.path == '/super_admin/viewAllAdmins' %}מנהל{% endif %}
                {% if request.path == '/super_admin/viewClients' %}לקוח{% endif %} -->
                {% if request.path == '/super_admin/track_order_delivers_to_clients' %}רשימת הזמנות{% endif %}
            </li>
        </ul>
    </div>
</div>