{% load static %}
{% load filters %}
<header id="page-topbar" class="ltr:lg:left-vertical-menu group-data-[layout=vertical]:rtl:lg:right-vertical-menu group-data-[sidebar-size=md]:ltr:left-vertical-menu-md  group-data-[sidebar-size=md]:rtl:right-vertical-menu-md group-data-[sidebar-size=sm]:lg:ltr:left-vertical-menu-sm group-data-[sidebar-size=sm]:lg:rtl:right-vertical-menu-sm group-data-[layout=horizontal]:left-0 group-data-[layout=horizontal]:rtl:p-0 fixed ltr:right-0 rtl:left-0 z-50 ltr:left-0 rtl:right-0">

    <div class="layout-width shadow-sm">
        <!-- TOP NAVBAR -->
        <div class="flex items-center justify-between py-4 p-2 border-b border-gray-800">
            <div style="width: 180px;">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}">
                    <p class="text-md text-gray flex items-center"><i style="font-size: 20px;" class="bx bx-phone text-16 ltr:mr-2 rtl:ml-2"></i>צור קשר 050-3623006</p>
                </a>
            </div>
            <div>
                <img src="{% static 'super_admin/assets/logo.png' %}" alt="" class="h-6 mx-auto">
            </div>
            <div style="width: 180px" class="flex items-center gap-4">
                <a href="{% url 'super_admin:SuperAdminLogout' %}">
                    {{ request.session|get:"logout" }}
                </a>
                <p class="text-md text-gray">Name of User</p>
            </div>
        </div>

        <!-- BOTTOM NAVBAR -->
        <div class="flex items-center justify-center px-2">
            <ul class="nav-list">
                <!-- Door Ordering -->
                <li class="py-4">
                    <a href="{% url 'super_admin:CreateDoorOrder' %}" class="text-gray py-4">הזמנה חדשה</a>
                </li>

                <!-- Not Shipped -->
                <li class="py-4">
                    <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">טיוטות</a>
                </li>

                <!-- Pending fulfilment -->
                <li class="py-4">
                    <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">הזמנות בתהליך</a>
                </li>

                <!-- Delivered orders -->
                <li class="py-4">
                    <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">הזמנות סגורות</a>
                </li>

                <!-- Product -->
                <li class="py-4">
                    <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">תמחור</a>
                    <ul class="dropdown border-b border-l border-r border-gray-800">
                        <li class="border-b border-gray-600">
                            <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">תמחור</a>
                        </li>
                        <li class="border-b border-gray-600">
                            <a href="{% url 'super_admin:add_collection' %}" class="block px-4 py-2">מוצרים</a>

                            <!-- Sub-dropdown for Products (Item 2) -->
                            <ul class="sub-dropdown border-b border-l border-r border-gray-800">
                                <li class="border-b border-gray-600"><a href="{% url 'super_admin:add_collection' %}" class="block px-4 py-2">
                                        צבעים
                                        <!-- 2.1 Add Collection -->
                                </a></li>
                                <li class="border-b border-gray-600">
                                    <a href="{% url 'super_admin:add_knobs' %}" class="block px-4 py-2">
                                        ידיות
                                        <!-- 2.2 Add Knobs -->
                                    </a>
                                </li>
                                <li class="border-b border-gray-600">
                                    <a href="{% url 'super_admin:add_knob_color' %}" class="block px-4 py-2">
                                        צבע ידיות
                                        <!-- 2.3 Add Knob Color -->
                                    </a>
                                </li>
                                <li class="border-b border-gray-600">
                                    <a href="{% url 'super_admin:add_drawars' %}" class="block px-4 py-2">
                                        מגירות
                                        <!-- 2.4 Add Drawers -->
                                    </a>
                                </li>
                                <li class="border-b border-gray-600">
                                    <a href="{% url 'super_admin:add_hinges' %}" class="block px-4 py-2">
                                        צירים 
                                        <!-- 2.5 Add Hinge -->
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'super_admin:add_claps' %}" class="block px-4 py-2">
                                        קלאפות
                                        <!-- 2.5 Add Claps -->
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">ניהול משתמשים</a>

                            <!-- Sub-dropdown for User Management (Item 3) -->
                            <ul class="sub-dropdown border-b border-l border-r border-gray-800">
                                <li class="border-b border-gray-600"><a href="{% url 'super_admin:viewSuperAdmin' %}" class="block px-4 py-2">
                                        מנהל ראשי
                                        <!-- 3.1 Super Admin -->
                                    </a>
                                </li>
                                <li class="border-b border-gray-600"><a href="{% url 'super_admin:viewAllAdmins' %}" class="block px-4 py-2">
                                        מנהל
                                        <!-- 3.2 All Admins -->
                                    </a>
                                </li>
                                <li class=""><a href="{% url 'super_admin:viewClients' %}" class="block px-4 py-2">
                                        לקוח
                                        <!-- 3.3  Clients -->
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>