{% load static %}
{% load filters %}
<header id="page-topbar" class="ltr:lg:left-vertical-menu group-data-[layout=vertical]:rtl:lg:right-vertical-menu group-data-[sidebar-size=md]:ltr:left-vertical-menu-md  group-data-[sidebar-size=md]:rtl:right-vertical-menu-md group-data-[sidebar-size=sm]:lg:ltr:left-vertical-menu-sm group-data-[sidebar-size=sm]:lg:rtl:right-vertical-menu-sm group-data-[layout=horizontal]:left-0 group-data-[layout=horizontal]:rtl:p-0 fixed ltr:right-0 rtl:left-0 z-50 ltr:left-0 rtl:right-0">

    <div class="layout-width shadow-sm">
        <!-- TOP NAVBAR -->
        <div class="flex items-center justify-between py-4 p-2 border-b border-gray-800">
            <div style="width: 180px;">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}">
                    <p class="text-md text-gray">Elite Nova</p>
                </a>
            </div>
            <div>
                <img src="{% static 'super_admin/assets/logo.png' %}" alt="" class="h-6 mx-auto">
            </div>
            <div style="width: 180px" class="flex items-center gap-4">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}">
                    <p class="text-md text-gray">Sign Out</p>
                </a>
                <p class="text-md text-gray">Name of User</p>
            </div>
        </div>

        <!-- BOTTOM NAVBAR -->
         <div class="flex items-center justify-center px-2">
            
        <ul class="nav-list">
            <!-- Door ordering -->
            <li class="py-4">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">הזמנה חדשה</a>
            </li>

            <!-- Not shipped -->
            <li class="py-4">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">הזמנה חדשה</a>
            </li>

            <!-- Pending fulfilment -->
            <li class="py-4">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">הזמנה חדשה</a>
            </li>

            <!-- Delivered orders -->
            <li class="py-4">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">הזמנות סגורות</a>
            </li>

            <!-- Product -->
            <li class="py-4">
                <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="text-gray py-4">תמחור</a>
                <ul class="dropdown border-b border-l border-r border-gray-800">
                    <li class="border-b border-gray-600"><a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">תמחור</a></li>
                    <li class="border-b border-gray-600">
                        <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">מוצרים</a>
                        <!-- Sub-dropdown for Item 2 -->
                        <ul class="sub-dropdown border-b border-l border-r border-gray-800">
                            <li class="border-b border-gray-600"><a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">צבעים</a></li>
                            <li class=""><a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">ידיות</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">פריט 3</a>
                        <!-- Sub-dropdown for Item 3 -->
                        <ul class="sub-dropdown border-b border-l border-r border-gray-800">
                            <li class="border-b border-gray-600"><a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">תת פריט 3.1</a></li>
                            <li class=""><a href="{% url 'super_admin:viewSuperAdminOrders' %}" class="block px-4 py-2">תת פריט 3.2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
         </div>
    </div>
</header>